h1 {
    color: #ff00ff;
}

#k1 {
    position: absolute;
    left: 50;
    top: 200;
    width: 300;
    height: 100;
    background-color: blue
}

#k2 {
    position: relative;
    left: 50;
    top: 25;
    width: 200;
    height: 50;
    background-color: yellow
}
